<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NET LOGS</title>
    <link rel="icon" type="image/png" href="icons/48.png">
    <link rel="stylesheet" href="standalone.css">
    <script type="module" src="standalone.mjs"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B99J8KD7LC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-B99J8KD7LC');
    </script>
</head>
<body>
    <div id="root"></div>
</body>
</html>
